body{
    height: 400px
}

header{
    position: sticky;
        top: 0;
        z-index: 999;
        width: 100%;
}

.headerarr{
    display: flex;
    justify-content: space-between;
    margin: 0 36px;
    line-height: 24px;
}

.titl{
    color: rgb(3, 3, 71);
}

nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    display: flex;
}

a{
    margin-left: 30px;
    font-weight: bold;
    color: rgb(3, 3, 71);
    text-decoration: none;
}

.inner{
    width: 100%;
    height: 300px;
}

.sml{
    font-size: 45px;
    position:relative;
    top:55px;
}

.box{
    background: rgb(30, 11, 108);
    width: 70%;
    height: 40%;
    position: relative;
        top: 10px;
    background-size: cover;
}



.imagega{
    width: 40%;
    height: 30%;
    position: absolute;
        right: 0;
        top: 60px;
}